.section {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
   
    height: 10rem;
padding: 1rem;
}

.fav-card {
    position: relative;
   width: 13rem;
    height: 7rem;
    padding: 1rem;
    background: rgb(31, 35, 46);
    border-radius: .5rem;
    box-shadow: 0 16px 80px #050609,
          0 15px 20px #050609,
          0px -75px 100px -20px #2c3352;
margin: .5rem;
  
  }
  .fav-card:hover {
    border: 3px solid white;
    cursor: pointer;
    transform: scale(1.1);
  }
  .fav-img {
    object-fit: contain;
   width: 100%;
    height: 100%;
  }


  .movie-title {
    font-size: 18px;
    font-weight: bold;
  }
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
height: 11rem;
width: 20rem;
    margin-right: 1.5rem;
    scrollbar-width: none;
    scroll-behavior: smooth;
    gap: 1rem;
    margin-left: -1rem;
    margin-right: 3rem;
    box-shadow: 0 16px 80px #050609,
    0 15px 20px #050609,
    0px -75px 100px -20px #2c3352;

  }
  
  .poster-image {
    display: flex;
   
    height:11rem;
    width: 100%;
    border-radius: .3rem;
  }
  .title {
    font-size: lg;
    font-weight: bold;
  }
  .genre {
    color: #666666;
    opacity: 0.4;
  }
  
  .movie-card:hover {
    border: 3px solid white;
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 1rem;
    box-shadow: 0 16px 80px #050609,
          0 15px 20px #050609,
          0px -75px 100px -20px #2c3352;

}
.poster-image:hover {
   transform: scale(1.1);
}

.m-title {

    color: #FFFFFF; /* or text-white is a valid value in TailwindCSS */
    margin-top: 0.5rem; /* mt-2 is equivalent to margin-top: 0.5rem */
}
.relative {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 100vw;
   margin-left: -5rem;

}
.m-list{
    display: flex;
    width: 100%;
    height: 20vh;
    margin: auto;
}
.m-container {
    display: flex;
    justify-content: space-between;
Height: 11rem;
}
.back, .forward {
    color: #fff;
    font-size: 42px;
    color: transparent;
    background-color: transparent;
    height: 15rem;
    margin-left: 1rem;
}
.back {
    margin-right: 1rem;
}
.back:hover{
color: white;
}
 .forward:hover {
color: white;
}